/* Normalize is the new CSS reset */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}html{cursor:default;font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,form,input,button,select,textarea{font-size:100%;margin:0}a,a:active,a:hover{outline:none}a:focus{outline:thin dotted}abbr{_border-bottom:expression(this.title ? '1px dotted':'none')}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#FF0;color:#000}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small,sub,sup{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul{list-style:none}audio[controls],canvas,video{display:inline-block;*display:inline}audio{display:none;_display:expression(this.controls ? 'inline':'none');*zoom:1}audio[controls]{display:inline-block}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}legend{*margin-left:-7px}button,input,select,textarea{-webkit-appearance:none;border-radius:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;_overflow:expression(this.type == 'button|reset|submit' ? 'visible':'')}button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

body {
  color: #555D60;
  background: #fff;
  font: 14px/21px arial, sans-serif;
  color: #542437;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

.row {
  margin-bottom: 5px;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: #3572a4;
  text-decoration: none;
}

address {
  margin: 0 0 1em 0;
}

time {
  opacity: 0.5;
  font-size: 90%;
}

#page {
  margin: 0 auto;
}

/* Header */

header {
  height: 199px;
  background: #28241f url(../img/header-background.jpg) no-repeat top left;
}

header, header a {
  text-decoration: none;
  color: #eee;
}

header h1 {
  font-weight: 800;
  margin: 50px 0 0 0;
}

header small {
  display: block;
  font-size: 75%;
  margin: 5px 0 10px 0;
  text-transform: uppercase;
}

/* Navigation */

nav {
  min-height: 51px;
  background: #1d1b15 url(../img/nav-background.png) no-repeat top left;
  margin-bottom: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
}

nav li a {
  height: 21px;
  color: #ddd;
  float: left;
  display: inline-block;
  margin: 0;
  font-size: 18px;
  padding: 15px 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  text-transform: lowercase;
}

nav li:first-child a {
  border-left: 0;
}

nav li:last-child a {
  border-right: 0;
}

nav li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

#home .home,
#activities .activities,
#projects .projects,
#software .software,
#people .people,
#publications .publications,
#gallery .gallery,
#contact .contact {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  border-right: 0;
  background: rgba(0, 0, 0, 0.3);
}


/* Content */

#content {
  min-height: 650px;
}

.columns img {
    max-width: 100%;
}

.thumb {
  display: block;
}

h2 {
  margin: 0 0 1em 0;
}

#page-title {
  margin-bottom: 0.2em;
}

/* Aside */

aside {
  padding-bottom: 10px;
}


/* Footer */

footer {
  margin-top: 15px;
  padding: 10px 0 5px 10px;
  background: #262320;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 85%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

footer, footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover {
  color: #ccc;
}

footer h2 {
  margin: 0 0 5px 0;
}

footer ul {
  margin: 0 0 5px 0;
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer small {
  font-size: 90%;
}

footer .copyright {
  margin-top: 10px;
}

/* Homepage */

.box {
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.box h2 {
  font-size: 12px;
  font-weight: normal;
  padding: 0 10px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  color: #53777A;
}

.box h3 {
  margin: 0;
}

.box article {
  padding: 0 0 5px 0;
}

.news.box {
  background: #d9edda;
}

.news.box, .news.box a {
  color: #637e4f;
}

.news.box h2 {
  background: #c3e2c4;
  color: #566356;
}

.news.box h3 {
  color: #3e7a00;
}

.news.box article {
  padding: 0 10px;
  margin: 10px 0;
}

.news.box time {
  display: block;
}

.software.box {
 background: #e5eef3;
}

.software.box, .software.box a {
  color: #505355;
}

.software.box h2 {
  background: #cedfe8;
  color: #646c71;
}

.software.box img {
  background: #e5eef3;
  padding: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
}

.software.box h3 {
  color: #3572a4;
}

