<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | EMRG</title>
  <meta name="author" content="Experimental Media Research Group">

  <!--[if lt IE 9]>
    <script src="/media/js/html5.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link type="text/css" rel="stylesheet" media="screen" href="/media/css/skeleton.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/media/css/syntax.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/media/css/screen.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/media/fancybox/jquery.fancybox-1.3.4.css" />

  <link href="/media/img/apple-touch-icon.png" rel="apple-touch-icon">

</head>
<body id="{{ page.section }}" class="{{ page.body }}">

<header>
  <div class="container">
    <div class="sixteen columns">
      <a class="logo" target="_top" href="/"><img src="/media/img/emrg-icon.png" alt="EMRG Icon"></a>
      <h1>EMRG</h1>
      <h2>&nbsp;<a target="_new" href="http://sintlucasantwerpen.be">St. Lucas University College of Art and Design, Antwerp</a></h2>
    </div>
  </div>
</header>

<nav>
  <div class="container">
    <ul class="sixteen columns">
      <li><a class="home" href="/">Home</a></li>
      <li><a class="people" href="/people/">People</a></li>
      <li><a class="projects"href="/projects/">Projects</a></li>
      <li><a class="software" href="/software/">Software</a></li>
      <li><a class="teaching" href="/teaching/">Teaching</a></li>
      <li><a class="publications" href="/publications/">Publications</a></li>
      <li><a class="contact" href="/contact/">Contact</a></li>
    </ul>
  </div>
</nav>

<div id="content" class="container">
  
  <!-- Content -->
  {{ content }}

</div> <!-- .container -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="four columns">
      <h2>Activities</h2>
      <ul>
        <li><a href="/teaching/">Teaching</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/publications/">Publications</a></li>
      </ul>
    </div>
    <div class="four columns">
      <h2><a href="/software/">Software</a></h2>
      <ul>
        <li><a href="/software/nodebox-3.html" title="The current generation with a node-based visual interface">NodeBox 3</a></li>
        <li><a href="/software/nodebox-opengl.html" title="The cross-platform, hardware-accelerated version">NodeBox for OpenGL</a></li>
      </ul>
    </div>
    <div class="four columns">
      &nbsp;
    </div>
    <div class="four columns">
      <h2><a href="/contact/">Contact Us</a></h2>
      <p>Contact us at <a href="mailto:info@emrg.be">info@emrg.be</a>.</p>
      <a href="https://twitter.com/nodebox" class="twitter-follow-button" data-show-count="false">Follow @nodebox</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="sixteen columns copyright">
      <p><small>Copyright &copy; 2013 Experimental Media Research Group, Sint Lucas Antwerpen School of Arts</small></p>
    </div>
  </div>
</footer> <!-- #footer -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/media/js/html5.js"></script>
<script src="/media/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script src="/media/js/sh/shCore.js"></script>
<script src="/media/js/sh/shBrushPython.js"></script>

<script>
  $(function() {
    $('a.thumb').fancybox();
  });
</script>

<script>
  SyntaxHighlighter.all();
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11544926-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
