---
layout: default
---
<div class="four columns alpha">
  <h2>News</h2>
  {% for post in site.posts %}
  <article>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <time>{{ post.date | date_to_string }}</time>
    {% endfor %}
  </article>
</div>

<div class="twelve columns omega">
  <h2>Software</h2>
  <div class="three columns">
    <a href="/media/img/nodebox1.png" class="thumb"><img src="/media/img/nodebox1_s.png" alt="NodeBox 1 Screenshot"></a>
    NodeBox 1
  </div>
  <div class="three columns">
    <a href="/media/img/nodebox2.png" class="thumb"><img src="/media/img/nodebox2_s.png" alt="NodeBox 2 Screenshot"></a>
    NodeBox 2
  </div>
  <div class="three columns">
    <a href="/media/img/creatures.jpg" class="thumb"><img src="/media/img/creatures_s.jpg" alt="NodeBox/OpenGL running Creatures"></a>
    NodeBox / OpenGL
  </div>
</div>

<div class="twelve columns offset-by-four omega">
  <h2>EMRG</h2>
  {{ content }}
</div>