---
layout: base
---
<div class="twelve columns software box">
  <h2>Software</h2>
  <div class="three columns">
    <a href="/software/nodebox-3.html">
      <img src="/media/home/nodebox3.png" alt="NodeBox 3 Screenshot" class="thumb">
      <h3>NodeBox</h3>
    </a>
    <small>NodeBox is a free cross-platform application for creating generative graphics using a node-based GUI.</small>
  </div>
  <div class="three columns">
    <a href="/software/nodebox-opengl.html">
      <img src="/media/home/nogl.png" alt="NodeBox/OpenGL running Creatures" class="thumb">
      <h3>NodeBox OpenGL</h3>
    </a>
    <small>NOGL is a free cross-platform library for creating hardware-accelerated generative graphics.</small>
  </div>
  <div class="three columns">
    <a href="/software/nodebox-1.html">
      <img src="/media/home/nodebox1.png" alt="NodeBox 1 Screenshot" class="thumb">
      <h3>NodeBox classic</h3>
    </a>
    <small>NodeBox classic is a free Mac OS X application for creating 2D visuals using Python code.</small>
  </div>
</div>

<aside class="four columns news box">
  <h2>News</h2>
  {% for post in site.posts %}
  <article>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <time>{{ post.date | date_to_string }}</time>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url }}" data-text="{{ post.title }}">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </article>
  {% endfor %}
</aside>


<div class="twelve columns">
  <h2 id="page-title">{{ page.title }}</h2>
  {{ content }}
</div>

