---
layout: base
---
<div class="container">
  <!-- Page Title -->
  <div class="row">
    <div class="sixteen columns">
      <h2 id="page-title">{{ page.title }}</h2>
    </div>
  </div>

  <!-- Content -->
  <div class="twelve columns project">

    <div class="summary">
    {% if page.authors %}
      <div>
      <label>Authors</label>
      {% for person in page.authors %}
        {% if person.size == 2 %}
          <a href="{{ person[1] }}" class="author">{{ person[0] }}</a>
        {% else %}
          <span class="author">{{ person }}</span>
        {% endif %}
      {% endfor %}
      </div>
    {% endif %}

    {% if page.license %}
      <div>
        <label>License</label>
        <span class="license">{{ page.license }}</span>
      </div>
    {% endif %}

    {% if page.documentation %}
      <div>
        <label>Documentation</label>
        <a href="{{ page.documentation }}">{{ page.documentation }}</a>
      </div>
    {% endif %}
    </div>

    {{ content }}
  </div>

  {% if page.images %}
  <aside class="four columns">
    {% for image in page.images %}
      {% if image.size == 2 %}
        <a class="thumb" rel="images" href="/media/{{ image[0] }}" title="{{ image[1] }}"><img src="/media/{{ image[0] }}" alt="{{ image[1] }}"></a>
		<div class="caption">{{ image[1] }}</div>
      {% else %}
        <a class="thumb" rel="images" href="/media/{{ image }}"><img src="/media/{{ image }}" alt="{{ page.title }}"></a>
      {% endif %}
    {% endfor %}
  </aside>
  {% endif %}
</div> <!-- .container -->
